LAIUE_SERVER_PORT=27180
LAIUE_SERVER_MAXIMUM_PEERS=16
LAIUE_SERVER_WORLD_SEED=42
LAIUE_SERVER_ALLOW_CONTENT_DOWNLOADS=false
LAIUE_SERVER_ADDRESS_FAMILY=dual
LAIUE_SERVER_LISTEN_ADDRESS=*
LAIUE_SERVER_CERTIFICATE_FILE=/etc/laiue-server/certificates/server-cert.pem
LAIUE_SERVER_PRIVATE_KEY_FILE=/etc/laiue-server/certificates/server-key.pem
